body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#311847), to(#3EB9E6));
    background-image: -webkit-linear-gradient(top, #311847, #3EB9E6);
    background-image: -moz-linear-gradient(top, #311847, #3EB9E6);
    background-image: linear-gradient(to bottom, #311847, #3EB9E6);
}

.weather-info {
    text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    display: none;
  }
}